body {
    font-family: Arial, sans-serif;
    background-color: #363637;
}


.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.contact-form input, .contact-form textarea {
    border-radius: 10px;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('buissness\ grouth.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the image in place on scroll */
    color: white;
    padding: 100px 0;
    text-align: center;
}
h2{
    color: aliceblue;
}


